# اگر خطای ۴۰۴ موقع ریفرش پیش آمد باید در هاست ، پرمیشن این فایل روی ۰۶۴۴ قرار بگیرد
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect shahlaskincare.com and www.shahlaskincare.com to new URL
  RewriteCond %{HTTP_HOST} ^(www\.)?shahlaskincare\.com$ [NC]
  RewriteRule ^(.*)$ https://shiningpage.com/publisher/shahlaskincare [R=301,L]

  # Redirect lilibeat.com and www.lilibeat.com to new URL
  RewriteCond %{HTTP_HOST} ^(www\.)?lilibeat\.com$ [NC]
  RewriteRule ^(.*)$ https://shiningpage.com/publisher/lilibeat [R=301,L]

</IfModule>

# Force HTTPS and WWW
RewriteEngine On

# Redirect to HTTPS if not already HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.shiningpage.com/$1 [L,R=301]

# Redirect to WWW if not already WWW
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.shiningpage.com/$1 [L,R=301]

# Allow access to index.html directly
RewriteRule ^index\.html$ - [L]

# Redirect all other requests to index.html if not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L]