.web-menu {
    /* position: -webkit-sticky; /* Safari
    position: sticky;
    left: 10px; */
    top: 0px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    transition: .2s;
    z-index: 1000;
}



